{{ define "main" }}
<main class="container flex-shrink-0">
    <div class="container main">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <h1>{{ .Title }}</h1>
                <p>
                    <img src="/images/bg.jpg" width="100%">
                </p>
                <p>
                    Freifunk Rhein-Neckar baut ein freies, offenes und kostenloses WLAN-Funknetz in der Metropolregion Rhein-Neckar auf.
                </p>
                <p>
                    Wir tun dies alles Ehrenamtlich in unserer Freizeit.
                </p>
            </div>
        </div>
    </div>
</main>
{{ end }}
